{% extends '../etienda/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="container mt-5">
    <h2>Change password</h2>
    {% bootstrap_messages %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mt-2 mb-5">Change password</button>
    </form>
</div>
{% else %}
<div class="container mt-5">
    <p>You have to be logged in to change your password.</p>
</div>
{% endif %}

{% endblock %}
